@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);
  --color-green-accent: var(--green-accent);
  --color-red-accent: var(--red-accent);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #161513;
  --foreground: #eeecdd;
  --card: #161513;
  --card-foreground: #eeecdd;
  --popover: #1e1b19;
  --popover-foreground: #eeecdd;
  --primary: #d9d9d9;
  --primary-foreground: #161513;
  --secondary: #2a2825;
  --secondary-foreground: #eeecdd;
  --muted: #2a2825;
  --muted-foreground: #a09e93;
  --accent: #c7e5a9;
  --accent-foreground: #161513;
  --destructive: #ec9b9b;
  --border: #2a2825;
  --input: #2a2825;
  --ring: #d9d9d9;
  --chart-1: #c7e5a9;
  --chart-2: #ec9b9b;
  --chart-3: #d9d9d9;
  --chart-4: #a09e93;
  --chart-5: #eeecdd;
  --radius: 0.5rem;
  --badge: #d9d9d9;
  --badge-foreground: #161513;
  --green-accent: #c7e5a9;
  --red-accent: #ec9b9b;
  --sidebar: #1e1b19;
  --sidebar-foreground: #eeecdd;
  --sidebar-primary: #c7e5a9;
  --sidebar-primary-foreground: #161513;
  --sidebar-accent: #2a2825;
  --sidebar-accent-foreground: #eeecdd;
  --sidebar-border: #2a2825;
  --sidebar-ring: #d9d9d9;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
